.panel-menu {
  background-color: #fafafa;
  border-right: 5px solid #dddddd;
  padding: 1rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .form {
    &__title {
      height: 2rem;
      border-bottom: 1px solid #ddd;
    }
    &__group {
      margin-bottom: 1rem;
      font-size: 1rem;
    }
    input[type="radio"] {
      display: none;
    }
    label {
      padding: .5rem;
    }
    input[type="radio"]:checked ~ label{
      color: green;
    }
  }
}

.add-task{
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ddd;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    box-shadow: 0 2px 2px 0 #bebebe;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &::before {
      content: '+';
      display: block;
      width: fit-content;
      height: fit-content;
      font-size: 1.5rem;
      margin-right: .5rem;
    }
    &:hover {
      background-color: green;
      color: #fff;
    }
    &:hover &::before {
      color: #fff;
    }
    &:active {
      transform: scale(.9)
    }
  }
}