section.task
  .task__container#task-container
   //- .task__item
    //-   p.task__description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit, hic. Facere voluptate porro possimus nam, sit deserunt reprehenderit unde repellendus!
    //-   p.task__date Fecha de Vencimiento: 
    //-     b 2017-12-31
    //-   p finalizada
    //-   .task__edit
    //-     svg.svg-icon.before
    //-         use(href="assets/img/icons.svg#edit")
    //-   .task__delete
    //-     svg.svg-icon.before
    //-         use(href="assets/img/icons.svg#delete-stroke")
    //- .task__item
    //-   p.task__description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit, hic. Facere voluptate porro possimus nam, sit deserunt reprehenderit unde repellendus!
    //-   p.task__date Fecha de Vencimiento: 
    //-     b 2017-12-31
    //-   p finalizada
    //-   .task__edit
    //-     svg.svg-icon.before
    //-         use(href="assets/img/icons.svg#edit")
    //-   .task__delete
    //-     svg.svg-icon.before
    //-         use(href="assets/img/icons.svg#delete-stroke")
    //- .task__item
    //-   p.task__description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit, hic. Facere voluptate porro possimus nam, sit deserunt reprehenderit unde repellendus!
    //-   p.task__date Fecha de Vencimiento: 
    //-     b 2017-12-31
    //-   p finalizada
    //-   .task__edit
    //-     svg.svg-icon.before
    //-         use(href="assets/img/icons.svg#edit")
    //-   .task__delete
    //-     svg.svg-icon.before
    //-         use(href="assets/img/icons.svg#delete-stroke")
    //- .task__item
    //-   p.task__description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit, hic. Facere voluptate porro possimus nam, sit deserunt reprehenderit unde repellendus!
    //-   p.task__date Fecha de Vencimiento: 
    //-     b 2017-12-31
    //-   p finalizada
    //-   .task__edit
    //-     svg.svg-icon.before
    //-         use(href="assets/img/icons.svg#edit")
    //-   .task__delete
    //-     svg.svg-icon.before
    //-         use(href="assets/img/icons.svg#delete-stroke")
    //- .task__item
    //-   p.task__description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit, hic. Facere voluptate porro possimus nam, sit deserunt reprehenderit unde repellendus!
    //-   p.task__date Fecha de Vencimiento: 
    //-     b 2017-12-31
    //-   p finalizada
    //-   .task__edit
    //-     svg.svg-icon.before
    //-         use(href="assets/img/icons.svg#edit")
    //-   .task__delete
    //-     svg.svg-icon.before
    //-         use(href="assets/img/icons.svg#delete-stroke")
    

  include ../components/cud-tarea
   