extends ../config/template
append config
  -pageTitle = 'Home'
  -pageDescription = 'Pagina inicial del Proyecto'
  -pageImage = ''

block main
  main.main
    header.header
      .mycontainer
        h1.header__brand Tareas
        .heder__cerrar-sesion
          span Cerrar Sesión

    include ../includes/panel-menu
    include ../includes/tareas
